/**
    Document   : zozivo
    Created on : December 16, 2018, 14:10
    Author     : Kom Sihon
    Description:
        Additional basic display rules for Zovizo
*/

.stage {margin: auto}
.bundle {min-height: 240px; margin-bottom: 30px}
.section-title {font-weight: 300;margin-bottom: 30px;text-align: center;}
.subscription-fees {}
.d-box {padding: 10px 25px 20px;}
.d-box-title {font-size: 21px; font-weight: 400; font-family: "PT Sans", Lato, sans-serif}
.d-box > div {padding-left: 30px;}
.d-box .balance {font-size: 60px}
.section {margin-bottom: 45px}
.section.cash .d-box {height: 212px}
.section.cash .d-box-title {margin-top: 10px}
.subscription-status {font-size: 18px;margin-bottom: 40px;}
.section.cash .wallet {padding: 40px 0 30px;text-align: center;margin-bottom: 30px;}
.picto {height: 50px}
.bundle .btn {margin-top: 60px}
.bundle > div {padding-left: 0}
.bundle .cost {font-size: 24px; margin-top: 30px}
.section.project {background: #eef6ff; min-height: 450px; padding-bottom: 40px}
.section.project .edit {display: none}
@media (max-width: 767px) {
    .section.cash .d-box, .section.bundles .d-box {margin-bottom: 20px}
}
@media (min-width: 768px) {
    #project-title {width: 400px}
    .stage {width: 870px}
}
@media (min-width: 992px) {
    .stage {width: 870px}
}