{% extends "core/base_admin.html" %}
{% load i18n humanize staticfiles cache auth_tokens %}

{% block admin_nav %}
    {% cache 600 sidebar user.username %}
    <div id="admin-nav" class="edge-panel-left">
        <div class="wrapper">
            <div class="stage">
                <div class="menu">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="dashboard">
                            <a href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a>
                        </li>
                    </ul>
                    {% if perms.echo.ik_manage_messaging or perms.revival.ik_manage_profiles or perms.rewarding.ik_manage_rewarding %}
                    <div class="divider"></div>
                    <ul class="nav nav-pills nav-stacked">
                        {% if perms.rewarding.ik_manage_rewarding %}
                            <li role="presentation" class="continuous-rewarding">
                                {% url 'rewarding:configuration' as rewarding_configuration_url %}
                                <a href="{{ rewarding_configuration_url }}" title="Continuous Rewarding">
                                    {% trans "Continuous Rewarding" %}
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.revival.ik_manage_profiles %}
                            <li role="presentation" class="profile-tags">
                                {% url 'revival:profiletag_list' as profiletag_list_url %}
                                <a href="{{ profiletag_list_url }}">
                                    {% trans "Profiles" %}
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.rewarding.ik_manage_messaging %}
                            <li role="presentation" class="messaging-campaign">
                                <a href="javascript:;" data-toggle="collapse" data-target="#messaging-campaigns"
                                   aria-expanded="true" style="padding-right: 0;">
                                    {% trans "Messaging Campaigns" %}
                                    <i class="fa fa-fw fa-caret-down"></i>
                                </a>
                                <ul id="messaging-campaigns" class="nav nav-pills nav-stacked collapse" aria-expanded="true"
                                    style="padding-left: 15px">
                                    <li class="sms-campaigns">{% url 'echo:sms_campaign' as sms_campaign_url %}
                                        <a href="{{ sms_campaign_url }}">{% trans "SMS" %}</a>
                                    </li>
                                    <li class="mail-campaigns">{% url 'echo:mail_campaign' as mail_campaign_url %}
                                        <a href="javascript:;">{% trans "Mail" %}</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                    {% if perms.accesscontrol.sudo %}
                        <div class="divider"></div>
                        <ul class="nav nav-pills nav-stacked">
                            {% if settings.IS_PROVIDER %}
                                <li role="presentation" class="flatpages">
                                    {% url 'ikwen:flatpage_list' as flatpage_list_url %}
                                    <a href="{{ flatpage_list_url }}">{% trans "Pages" %}</a>
                                </li>
                                <li role="presentation" class="theming">
                                    <a href="{% url 'theming:theme_list' %}">{% trans "Theming" %}</a>
                                </li>
                            {% endif %}
                            <li role="presentation" class="community">
                                {% url 'ikwen:community' as community_url %}
                                <a href="{{ community_url }}">{% trans "Community" %}</a>
                            </li>
                        </ul>
                        <div class="divider"></div>
                        <ul class="nav nav-pills nav-stacked">
                            {% if settings.IS_PROVIDER and config.is_pro_version %}
                                <li role="presentation" class="payment-means">
                                    <a href="{% url 'billing:payment_mean_list' %}">{% trans "Payment means" %}</a>
                                </li>
                            {% endif %}
                            {% if app_modules %}
                            <li role="presentation" class="modules">
                                <a href="{% url 'ikwen:module_list' %}">
                                    {% trans "Modules" %}
                                </a>
                            </li>
                            {% endif %}
                            <li role="presentation" class="configuration">
                                {% url 'ikwen:configuration' as configuration_url %}
                                <a href="{{ configuration_url }}">{% trans "Configuration" %}</a>
                            </li>
                            <li role="presentation" class="invoices">
                                {% url 'billing:invoice_list' as invoice_list_url %}
                                <a href="{{ invoice_list_url|ikwenize }}" target="_blank">{% trans 'Invoices' %}</a>
                            </li>
                            <li role="presentation" class="service-info">
                                {% url 'ikwen:service_detail' service.id as service_detail_url%}
                                <a href="{{ service_detail_url }}">{% trans "Info & Billing" %}</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    {% endcache %}
{% endblock %}