{% extends 'zovizo/base.html' %}
{% load i18n staticfiles humanize %}

{% block page_title %}
    <title>{% trans "Payment canceled" %} - {{ service.project_name }}</title>
{% endblock %}

{% block content %}
    <div id="content" class="checkout-content">
        <h2 class="checkout-header">{% trans "Checkout" %}</h2>
        <div class="container" style="height: 450px">
            {% if server_error %}
                <p class="alert alert-danger" style="margin-top: 2em">
                    {{ server_error }}
                </p>
            {% elif paypal_error %}
                <p style="margin-top: 2em">{% trans "PayPal payment failed with the following error" %}</p>
                <p class="alert alert-danger" style="margin-top: 1em">
                    {{ paypal_error }}
                </p>
            {% else %}
                <p class="alert alert-info" style="margin-top: 2em">
                    {% trans "Ooops! Payment canceled" %}
                </p>
            {% endif %}
            <p style="margin-top: 2em">
            {% url 'home' as home_url %}
            {% blocktrans %}
                You can <a href="{{ home_url }}"><ins>go back home</ins></a> and retry or try again later.
            {% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}