{% load i18n static cache auth_tokens %}
<!--
Au<!--
Author: Roddy Mbogning
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        {% block meta %}{% endblock %}
        {% include 'core/snippets/color_and_icons.html' %}
		{% block page_title %}{% endblock %}
		{% block head_style %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link href="{% static 'ikwen/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'ikwen/css/font-awesome.min.css' %}" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'ikwen/swiper/css/swiper.min.css' %}">
            <link rel="stylesheet" href="{% static 'zovizo/css/main.css' %}?v=20.7.11">
		{% endblock %}
        {% block head_js %}
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
        <script src="{% static 'ikwen/js/jquery-1.12.4.min.js' %}"></script>
    </head>
    <body>
        {% block seo %}{% endblock %}
        {% block header %}
            <div class="header hidden-xs hidden-sm">
                <div class="header-bottom">
                    <div class="container-fluid">
                        <div class="logo-nav">
                            <div class="logo-nav-left">
                                {% url 'home' as home_url %}
                                <h1>
                                    <a href="{{ home_url }}" class="hidden-xs">
                                        {% if config.theme.logo.name %}
                                            <div class="company-logo-container">
                                                <img src="{{ config.theme.logo.url }}" alt="Logo {{ service.project_name }}"/>
                                            </div>
                                        {% else %}
                                           <span>{{ service.project_name }}</span>
                                        {% endif %}
                                    {% if config.slogan %}<span class="slogan" title="{{ config.slogan }}"><div style="float: left; width: 500%">{{ config.slogan }}</div></span>{% endif %}
                                    </a>
                                    <a class="visible-xs">
                                        {% if config.theme.logo.name %}
                                            <img src="{{ config.theme.logo.url }}" alt="Logo {{ service.project_name }}"/>
                                        {% else %}
                                            <span>{{ service.project_name }}</span>
                                        {% endif %}
                                    {% if config.slogan %}<span class="slogan" title="{{ config.slogan }}"><div style="float: left; width: 500%">{{ config.slogan }}</div></span>{% endif %}
                                    </a>
                                </h1>
                            </div>

                        </div>
                        <nav class="navbar">
                            <div class="container-fluid">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="{% url 'home' %}">{% trans "Home" %}</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'about' %}">{% trans "About" %}</a>
                                    </li>
{#                                    <li>#}
{#                                        <a href="#">{% trans "News" %}</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#">{% trans "Draws" %}</a>#}
{#                                    </li>#}
                                    {% if user.is_authenticated %}
                                        <li id="user-menu" class="dropdown">
                                            <a class="icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="user-menu">
                                                <li style="padding: 9px 20px 3px; font-size: 18px"> {{ user.get_short_name }} </li>
                                                <li role="separator" class="divider"></li>
                                                <li>
                                                    <a href="{% url 'zovizo:profile' %}">{% trans "My Zovizo" %}</a>
                                                </li>
                                                <li>
                                                    <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
                                                </li>
                                                <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a> </li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'ikwen:do_sign_in' %}">{% trans "Login" %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="header-xs visible-xs visible-sm">
                <div class="container-fluid">
                    <div class="pull-left left-content">
                        <button type="button" class="navbar-toggle menu-button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h3 class="app-name">
                            <a>{{ service.project_name }}</a>
                        </h3>
                    </div>
                    <div class="pull-right" style="margin-right: 6px;">
                        <div class="xs-nav-container">
                            {% if user.is_authenticated %}
                                <div class="button-hover-handler">
                                    <a class="action" href="{{ settings.IKWEN_CONSOLE_URL }}">
                                        {% if user.get_notice_count > 0 %}
                                            <span class="badge badge-danger">{{ user.get_notice_count }}</span>
                                        {% endif %}
                                        <i class="fa fa-bell"></i>
                                    </a>
                                </div>
                                <div class="action dropdown" style="float: right; width: 20px">
                                    <a class="dropdown-toggle" data-toggle="dropdown" id="user-menu" aria-haspopup="true" aria-expanded="true">
                                        <div class="button-hover-handler"><i class="fa fa-user" style=" margin-left: 11px;"></i></div>
                                    </a>
                                    <ul class="user-menu dropdown-menu" aria-labelledby="user-menu" style="left: -120px">
                                        <li style="padding: 3px 20px"> {{ user.get_short_name }} </li>
                                        <li role="separator" class="divider"></li>
                                        {% if user.is_staff %}
                                            <li>
                                                <a href="{% url 'ikwen:staff_router' %}">Admin</a>
                                            </li>
                                        {% endif %}
                                        <li>{% url "ikwen:account_setup" as account_setup_url %}
                                            <a href="{{ account_setup_url }}">{% trans "Account setup" %}</a>
                                        </li>
                                        <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a></li>
                                    </ul>
                                </div>
                            {% else %}
                                <div class="button-hover-handler">
                                    <a class="action" href="{% url 'ikwen:do_sign_in' %}">
                                        <i class="fa fa-th-large"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="visible-xs nav-xs">
                <!-- Additional required wrapper -->
                <div class="xs-swiper-container">
                    <ul class="nav swiper-wrapper">

                    </ul>
                </div>

            </div>
        {% endblock %}
        {% block banner %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
            <div class="footer-w3l">
                <div class="container">
                    <div class="footer-grids">
                        <div class="col-sm-4 footer-grid">
                            <h4>{{ service.project_name }}</h4>
                            <ul>
                                <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>

                                {% if agreement_page %}
                                    <li><a href="{% url 'flatpage' agreement_page.url %}">{{ agreement_page.title }}</a></li>
                                {% endif %}
                                {% if about_page %}
                                    <li><a href="{% url 'flatpage' about_page.url %}">{{ about_page.title }}</a></li>
                                {% endif %}
                                <li><a href="{% url 'ikwen:sign_in' %}">{% trans "Login" %}</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 footer-grid foot">
                            <h4>{% trans "Contacts" %}</h4>
                            <ul>
{#                                <li><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 20px"></i><a href="#">{{ config.address }}</a></li>#}
                                {% if config.whatsapp_phone %}
                                <li>
                                    <i class="fab fa-whatsapp" aria-hidden="true" style="font-size: 24px; line-height: 27px"></i>
                                    <a href="#">{{ config.whatsapp_phone }}</a>
                                </li>
                                {% endif %}
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true" style="font-size: 24px; line-height: 27px"></i>
                                    <a href="mailto:{{ config.contact_email }}">{{ config.contact_email }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 footer-grid hidden-sm share-with-mates">
                            <h4>{% trans "Share with mates" %}</h4>
                            <ul style="padding-left: 0">
                                <li>
                                    <a href="https://api.whatsapp.com/send?text=https://zovizo.com">
                                        <i class="fab fa-whatsapp"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://facebook.com/sharer/sharer.php?u=https://zovizo.com" target="_blank">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/home?status=https://zovizo.com" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="copy-section">
                <div class="container">
                    <div class="copy-left">
                        <p>&copy; {{ year }} <a href="{{ service.url}}" style="text-decoration: none"><strong>{{ config.company_name }}</strong></a>.
                            <span>{% trans "All rights reserved" %}</span>
                            - <a href="{{ settings.LEGAL_MENTIONS_URL }}" style="text-decoration: none">{% trans "Legal mentions" %}</a>
                        </p>
                    </div>
                    <div class="pull-right hidden-xs">
                        {% include 'core/snippets/language_switcher.html' %}
                        {% include 'core/snippets/currency_switcher.html' %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endblock %}
        {% include 'zovizo/snippets/edge_panel.html' %}
        <div class="edge-swipe-overlay"></div>

        <script src="{% static 'ikwen/js/bootstrap.js' %}"></script>
        <script src="{% static 'ikwen/swiper/js/swiper.min.js' %}"></script>
        <script src="{% static 'ikwen/hammerjs/hammer.min.js' %}"></script>
        <script src="{% static 'ikwen/hammerjs/jquery.hammer.js' %}"></script>
        <script src="{% static 'ikwen/js/ikwen-util.js' %}?v=20.7.11"></script>
        <script src="{% static 'zovizo/js/investor-pack.js' %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>
