{% extends 'zovizo/base.html' %}
{% load i18n static user_agents humanize auth_tokens %}

{% block meta %}
    {{ block.super }}
    {% include 'webnode/snippets/home_seo.html' %}
{% endblock %}
{% block page_title %}<title>{{ service.project_name }} - {% trans "Home" %}</title>{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'zovizo/css/zovizo_winner.css' %}?v=19.2.3.1">
    <style>
        h2 {font-size: 2.5vw; margin-top: 0 !important}
        .main-banner {min-height: 300px}
        .main-banner > div {background: rgba(0, 0, 0, .5); height: 360px; width: 100%}
    </style>
{% endblock %}

{% block seo %}
    <div class="hidden seo">
        <h1>{{ config.slogan}}</h1>
        <p>{{ config.description }}</p>
    </div>
{% endblock %}

{% block content %}
	<section>
        <div class="text-center" style="padding: 15vh 0;">
            <button class="btn btn-success btn-lg" data-toggle="modal"
                    data-target="#modal-draw" id="start-draw">Lancer le tirage</button>
            <div class="clearfix"></div>
        </div>
	</section>

    <div class="modal fade" id="modal-draw" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg draw-stage" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header text-center">
                    <button style="color: #fff" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-has-shade">{% trans "Tirage en cours" %}</h4>
                    <h2 class="jackpot text-has-shade">{{ draw.jackpot|intcomma }} FCFA</h2>
                    <p>{% trans "À gagner" %}</p>
                </div>
                <div class="modal-body text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 boxes text-center">
                            <div id="number-animation" class="row">
                                <div class="col-xs-4">
                                    <div class="output output1">--</div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="output output2">--</div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="output output3">--</div>
                                </div>
                            </div>
                            <div id="winning-number" class="row">
                                <div class="col-xs-4">
                                    <div class="output output1">--</div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="output output2">--</div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="output output3">--</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="cta-text">{% blocktrans %}
                        Vous avez manqué ce tirage ? Ne ratez pas le prochain.
                    {% endblocktrans %}</p>
                    <div class="text-center cta">
                        <a href="{% url 'ikwen:sign_in' %}" class="btn btn-success">{% trans "Inscrivez-vous sur Zovizo" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            function grabWinner() {
                $.getJSON('', {action: 'get_winning_number'}, function(data) {
                    var winner = data.winner;
                    if (!winner) return;
                    $('#output1').text(winner.substr(0, 2));
                    $('#output2').text(winner.substr(2, 2));
                    $('#output3').text(winner.substr(4))
                })
            }
            var duration = 10000;
            function animateNumbers() {
                var started = new Date().getTime();
                var animationTimer = setInterval(function() {
                    if (new Date().getTime() - started > duration) {
                        clearInterval(animationTimer); // Stop the loop
                    } else {
                        var rand1 = '' + Math.floor(Math.random() * 10) + Math.floor(Math.random() * 10);
                        var rand2 = '' + Math.floor(Math.random() * 10) + Math.floor(Math.random() * 10);
                        var rand3 = '' + Math.floor(Math.random() * 10) + Math.floor(Math.random() * 10);
                        $('#output1').text(rand1);
                        $('#output2').text(rand2);
                        $('#output3').text(rand3)
                    }
                }, 100);
            };

            $('#start-draw').click(function() {
                $.getJSON('', {action: 'start_draw'}, function(data) {
                    if (data.success) {
                        animateNumbers();
                        setTimeout(grabWinner, duration);
                        return
                    }
                    alert("Error when starting draw");
                });
            });
        })()
    </script>
{% endblock %}