{% extends "core/base_bs.html" %}
{% load i18n humanize static auth_tokens admin_list %}

{% block page_title %}
<title> {% trans "Profile" %} - Zovizo </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link href="{% static 'zovizo/css/zovizo.css' %}?v=19.2.16" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="content">
        <div class="section cash">
            <div class="container stage">
                <h2 class="section-title">{% blocktrans with name=user.first_name %}Welcome {{ name }}{% endblocktrans %}</h2>
                <div class="subscription-status">
                    {% if not sub and wallet.balance == 0 %}
                        <div class="text-center not-registered row">
                            <p class="text-danger">
                                {% trans "You are not registered for the next draw" %}
                            </p>
                            <a class="btn btn-success" href="#bundles">{% trans "Buy a bundle now" %}</a>
                        </div>
                    {% elif sub %}
                        <p class="text-center" style="color: #11a539">
                            {% trans "Your are registered for the next draw. Good luck !" %}
                        </p>
                    {% endif %}
                </div>

                {% if wallet.balance > 0 %}
                    <div class="wallet">
                        <div style="font-size: 18px">{% blocktrans with balance=wallet.balance %}
                            You have XAF <strong>{{ balance }}</strong> in your jackpot.
                        {% endblocktrans %}</div>
                        <button class="btn btn-success btn-block"
                                style="margin: 15px auto; width: 240px">{% trans "Cash-Out" %}</button>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="subscription-fees col-sm-6">
                        <div class="subtle-shade d-box">
                            <h3 class="d-box-title">
                                <i class="fas">
                                    <img class="picto" src="{% static 'zovizo/img/picto-balance.png' %}" />
                                </i>
                                {% trans "Balance" %}
                            </h3>
                            <div>
                                <div class="balance">{{ wallet.balance|intcomma }}</div>
{#                                <div class="until">#}
{#                                    <span>{% trans "Exp." %}</span>#}
{#                                    <span class="text-muted">16 Sept. 2018</span>#}
{#                                </div>#}
                                <a href="#bundles" class="text-right">{% trans "Refill" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="jackpot col-sm-6">
                        <div class="subtle-shade d-box">
                            <h3 class="d-box-title">
                                <i class="fas">
                                    <img class="picto" src="{% static 'zovizo/img/picto-jackpot.png' %}" />
                                </i>
                                {% trans "Jackpot" %}
                            </h3>
                            <div>
                                <div class="balance">{{ draw.winner_jackpot|intcomma }}</div>
                                <div class="until">
                                    <span>{% trans "Next draw" %}</span>
                                    <span class="text-muted">{{ draw.run_on|date }} - 19:00 UTC</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="section project">
            <div class="container stage">
                <h2 class="section-title" style="margin-top: 40px">{% trans "Your project" %}</h2>
                <div>
                    <form class="edit {% if not project %}tpl{% endif %}" action="?action=save_project">{% csrf_token %}
                        <div class="form-group">
                            <label for="project-title" style="clear: both">{% trans "Project title" %}</label>
                            <p class="view">{{ project.title }}</p>
                            <div>
                            <input class="form-control edit" id="project-title"
                                   name="project_title" type="text" value="{{ project.title }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="project-summary">{% trans "Summary" %}</label>
                            <p class="view">{{ project.summary }}</p>
                            <textarea class="form-control edit" id="project-summary" name="project_summary">{{ project.summary }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="project-description">{% trans "Description" %}</label>
                            <p class="view">{{ project.description|safe }}</p>
                            <textarea class="form-control edit" id="project-description" name="project_description">{{ project.description }}</textarea>
                        </div>
                        <a class="view edit-project" href="javascript:;">{% trans "Edit" %}</a>
                        <button class="btn btn-success edit" style="width: 240px">{% trans "Save" %}</button>
                    </form>
                    {% if not project %}
                    <div class="text-center view">
                        <p>
                            <i class="fas fa-puzzle-piece edit-project" style="color: #607386; font-size: 145px; cursor: pointer"></i>
                        </p>
                        <p class="text-muted">{% trans "Tell other members about what you plan to do if you win the jackpot" %}</p>
                        <a href="javascript:;" class="edit-project">{% trans "Add" %}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="section bundles" id="bundles">
            <div class="container stage">
                <h2 class="section-title">{% trans "Bundles" %}</h2>
                <div class="bundle-list row">
                    {% for bundle in bundle_list %}
                    <div class="col-sm-4{% if forloop.counter == 4 %} col-sm-offset-4{% endif %}">
                        <div class="bundle subtle-shade d-box text-center">
                            <h3 class="d-box-title">{{ bundle.duration }} {% trans "Days" %}</h3>
                            <div class="cost text-muted">
                                {% blocktrans with amount=bundle.amount|intcomma %}XAF {{ amount }}{% endblocktrans %}
                            </div>
                            <button class="btn btn-success btn-block payment-start"
                                    data-product-id="{{ bundle.id }}">{% trans "Subscribe Now" %}</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <section></section>
    </div>
    {% include 'billing/snippets/modal_payment_options.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function() {
            $('.edit-project').click(function() {
                $('.section.project .view').hide();
                $('.section.project .edit').show()
            })
        })()
    </script>
{% endblock %}