 {% load i18n humanize staticfiles cache auth_tokens %}
<div class="edge-panel-left-container visible-xs">
    <div id="side-nav" class="edge-panel-left" style="margin-left: -240px">
        <div class="wrapper">
            <div class="stage">
                <div class="top-edge-panel" style>
                    {% if config.cover_image and config.cover_image.name %}
                        <div class="panel-top" style="background-image: url({{ settings.IKWEN_MEDIA_URL }}{{ config.cover_image.name }});">
                    {% else %}
                        <div class="panel-top" style="background-image: url({% static 'ikwen/img/default-cover-company.jpg' %});">
                    {% endif %}
                        <div class="cover">
                            <div class="company">
                                <div class="logo">
                                    <h3>
                                        <a>
                                            {% if config.logo.name %}
                                                <div class="mob-logo-img" style="background-image: url({{ settings.IKWEN_MEDIA_URL }}{{ config.logo.name }})"></div>
                                            {% else %}
                                                <div id="no-logo" class="no-logo subtle-shade">{{ service.project_name|make_list|first }}</div>
                                            {% endif %}
                                        </a>
                                    </h3>
                                </div>
                                <div class="mob-company">
                                    <h4 class="name">{{ service.project_name }}</h4>
                                    {% if config.slogan %}<div class="mob-slogan-ctnr"><span class="slogan">{{ config.slogan }}</span></div>{% endif %}
                                </div>
                            </div>
                            <div class="location">
                                {% if config.address %}<div class="adress"><i class="fa fa-map-marker"></i>{{ config.address }}</div>{% endif %}
                                {% if config.contact_phone %}<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>{{ config.contact_phone }}</div>{% endif %}
                                {% if config.contact_email %}<div class="email"><i class="fa fa-envelope" aria-hidden="true"></i>{{ config.contact_email }}</div>{% endif %}
                            </div>
                            <div class="bottom-cntr">
                                {% include 'core/snippets/language_switcher.html' %}
                                {% include 'core/snippets/currency_switcher.html' %}
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="{% url 'home' %}">{% trans "Home" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">{% trans "About" %}</a>
                    </li>
                    {% if user.is_anonymous %}
                        <li>
                            <a href="{% url 'ikwen:do_sign_in' %}">{% trans "Login" %}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'zovizo:profile' %}">{% trans "My Zovizo" %}</a>
                        </li>
                    {% endif %}
{#                    {% if agreement_page %}#}
{#                        <li><a href="{% url 'flatpage' agreement_page.url %}">{{ agreement_page.title }}</a></li>#}
{#                    {% endif %}#}
                </ul>
                <div class="clearfix"></div>
{#                <div class="social-icon">#}
{#                    {% if config.facebook_link %}#}
{#                        <a href="{{ config.facebook_link }}" target="_blank"><i class="fa fa-facebook-square"></i></a>#}
{#                    {% endif %}#}
{#                    {% if config.instagram_link %}<a href="{{ config.instagram_link }}" target="_blank"><i class="fa fa-instagram"></i></a>{% endif %}#}
{#                    {% if config.twitter_link %}<a href="{{ config.twitter_link }}" target="_blank"><i class="fa fa-twitter-square"></i></a>{% endif %}#}
{#                    {% if config.google_plus_link %}#}
{#                        <a href="{{ config.google_plus_link }}" target="_blank"><i class="fa fa-google-plus-square"></i></a>{% endif %}#}
{#                    {% if config.linkedin_link %}<a href="{{ config.linkedin_link }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>{% endif %}#}
{#                </div>#}
                </div>
            </div>
        </div>
    </div>
</div>
